<!-- <div class="container-fluid"> -->
	<div class="first_story">
		<div id="first-map-scroll">
			<div class="scroll__figure">
				<script src="map.js"></script>
				<div class="range">
				  <input id="timeslide" type="range" min="0" max="2" steps="3" value="0">
				   <span id="range">1</span>
				</div>
				<ul class="range-labels">
				  <li class="active selected">1</li>
				  <li>2</li>
				  <li>3</li>
				</ul>
			</div>
			<div class='scroll__text'>
				<div class='step' id="step1" data-step='1'>
					<h3>{{copy.hedStep1}}</h3>
					<p>{{copy.step1}}</p>
				</div>
				<div class='step' id="step2" data-step='2'>
					<h3>{{copy.hedStep2}}</h3>
					<p>{{copy.step2}}</p>
				</div>
				<div class='step' id="step3" data-step='3'>
					<h3>{{copy.hedStep3}}</h3>
					<p>{{copy.step3}}</p>
				</div>
				<div class='step' id="step4" data-step='4'>
					<h3>{{copy.hedStep4}}</h3>
				</div>
			</div>
		</div>
	</div>
<!-- </div> -->