<div class="row title">
	<div class="col-md-12">
		<h1>{{copy.title}}</h1>
		<p><strong>Date: </strong>{{copy.date}}</p>
	</div>
</div>

<div class="row">
	<div class="col-md-6 intro_black">
		<h1>{{copy.description1}}</h1>
	</div>
	<div class="col-md-6 intro_white">
		<h1>{{copy.description2}}</h1>
	</div>
</div>
<div class="row">
	<h2>{{copy.intro}}</h2>
</div>