<div class="container reasons">
	<div class="row">
		<div class='col-md-2'></div>
		<div class='col-md-8 leadin2'>
			{{copy.leadin2}}
		</div>
		<div class='col-md-2'></div>
	</div>
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-4 pad2002_all">
			<div class='col-md-12 pad2002'>
				<h3>
					{{copy.hedReason1}}
				</h3>
				<p>
					{{copy.reason1}}
				</p>
			</div>
			<div class='col-md-12'></div>
			<div class='col-md-12 pad2007'>
				<h3>
					{{copy.hedReason3}}
				</h3>
				<p>
					{{copy.reason3}}
				</p>
			</div>
			<div class='col-md-12'></div>
			<div class='col-md-12 pad2013'>
				<h3>
					{{copy.hedReason5}}
				</h3>
				<p>
					{{copy.reason5}}
				</p>
			</div>
		</div>
		<div class="col-md-4">
			<div class="col-md-12"></div>
			<div class="col-md-12 pad2006">
				<h3>
					{{copy.hedReason2}}
				</h3>
				<p>
					{{copy.reason2}}
				</p>
			</div>
			<div class="col-md-12"></div>
			<div class="col-md-12 pad2008">
				<h3>
					{{copy.hedReason4}}
				</h3>
				<p>
					{{copy.reason4}}
				</p>
			</div>
		</div>
		<div class="col-md-2"></div>
	</div>
</div>