<div class="third_story">
	<div id="third-map-scroll">
		<div class="scroll__figure3">
			<h1>{{copy.scrollFigText}}</h1>
		</div>
		<div class='scroll__text3'>
			<div class='step3' id='step1' data-step='1'>
				<h3>{{copy.hedStep1_2}}</h3>
				<p>{{copy.step1_2}}</p>
			</div>
			<div class='step3' id='step2' data-step='2'>
				<h3>{{copy.hedStep2_2}}</h3>
				<p>{{copy.step2_2}}</p>
			</div>
			<div class='step3' id='step3' data-step='3'>
				<h3>{{copy.hedStep3_2}}</h3>
				<p>{{copy.step3_2}}</p>
			</div>
		</div>
	</div>
</div>